@if (showBackButton$ | async) {
<ds-results-back-button [back]="back"></ds-results-back-button>
}
@if (iiifEnabled) {
<div class="row">
    <div class="col-12">
        <ds-mirador-viewer id="iiif-viewer" [object]="object" [searchable]="iiifSearchEnabled"
            [query]="iiifQuery$ | async">
        </ds-mirador-viewer>
    </div>
</div>
}
<div class="">
    <ds-item-page-title-field [item]="object" class="me-auto"></ds-item-page-title-field>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">

        @if (object.firstMetadataValue('dc.description.abstract'); as abstract) {
        <div class="simple-view-element">
            <ds-truncatable [showToggle]="true" [id]="'abstractOuter'">
                <h5 class="simple-view-element-header">Abstract</h5>
                <div class="justify-content-between mb-4">
                    <ds-truncatable-part [minLines]="5" [id]="'abstractOuter'">
                        {{ abstract | stripLineBreaks }}
                    </ds-truncatable-part>
                </div>
            </ds-truncatable>
        </div>
        }
        <ds-generic-item-page-field [item]="object" [fields]="['dc.description']"
            [label]="'publication.page.description'">
        </ds-generic-item-page-field>

        <ds-generic-item-page-field [item]="object" [fields]="['dc.subject']" [separator]="', '"
            [label]="'item.page.subject'">
        </ds-generic-item-page-field>

        <ds-item-page-uri-field [item]="object" [fields]="['dc.identifier.uri']" [label]="'item.page.uri'">
        </ds-item-page-uri-field>
        <ds-item-page-collections [item]="object"></ds-item-page-collections>

        <div>
            <a class="btn btn-outline-primary" role="button" [routerLink]="[itemPageRoute + '/full']" role="button"
                tabindex="0">
                <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
            </a>
        </div>
        <ds-usage-statistics [object]="object"></ds-usage-statistics>
    </div>
    <div class="col-xs-12 col-md-4 bg-light">
        <div class="mt-3 authors-container mb-0 pb-0">
            <ds-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
                [itemType]="'Person'" [metadataFields]="['dc.contributor.author', 'dc.creator']"
                [label]="'item.page.authors' | translate">
            </ds-metadata-representation-list>
            <ds-metadata-representation-list class="ds-item-page-mixed-author-field" [parentItem]="object"
                [itemType]="'Person'" [metadataFields]="['dc.contributor.advisor']"
                [label]="'item.page.advisors' | translate">
            </ds-metadata-representation-list>
        </div>
        <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
        <ds-item-page-date-field [item]="object"></ds-item-page-date-field>

        <ds-generic-item-page-field [item]="object" [fields]="['dc.publisher']" [label]="'publication.page.publisher'">
        </ds-generic-item-page-field>
        <ds-usage-metrics [item]="object" (reportLoaded)="onReportLoaded($event)"></ds-usage-metrics>
    </div>
</div>