<div class="container pt-3">
    <div class="row">
        <div class="col-md-8">
            <h4><strong>Self Archiving Instructions</strong></h4>
            <p>
                Self archiving allows you to upload your own research outputs to the repository. This is a great way to improve your citation metrics, ensure that your work is accessible to a wider audience and can be easily found by those interested in it.
                Currently, KarUSpace provides 2 "depository" collections for self-archiving:
            </p>
            <ul>
                <li><strong>Articles Depository</strong> - For research articles, especially those already published elsewhere.</li>
                <li><strong>Profiles Depository</strong> - For individual researcher profiles.</li>
            </ul>   
            <p>To make a deposit to the repository, follow the following 5 simple steps.</p>
            <h4><strong>Step 1. Ensure you have an account</strong></h4>
            <ul>
                <li>If you don't have an account on the repository, <a href="/register">click here</a> to register using your KarU email.</li>
                <li>A link to set your repository password will be sent to your KarU email address. When you receive the email, click on the link and set your password.</li>
            </ul>
            <h4><strong>Step 2. Login</strong></h4>
            <ul>
                <li>If you have just registered using step 1 above, you can skip this step because you will be logged-in automatically, otherwise;</li>
                <li>Click on <a href="/login" title="login to KarUSpace">login link</a> to log-in using your KarU email and password.</li>
            </ul>
            <h4><strong>Step 3: Check if your item already exists</strong></h4>
            <ul>
                <li>Use the search form to check if the item you want to submit already exists</li>
                <li>If the item does not exist, proceed to step 4, otherwise abort the submission</li>
            </ul>
            <h4><strong>Step 4: Submit New Item</strong></h4>
            <ul>
                <li>In the left navigation bar, click on "New" then "Item" to start depositing your research publication or researcher profile.</li>
                <li>Select either "Articles Depository", or "Profiles Depository"</li>
                <li>Fill-in all the relevant metadata. The form is designed to guide you appropriately.</li>
                <li>For articles, ensure that you attach its PDF file</li>
                <li>For researcher profiles, ensure that you attach a high quality passport photo in the common image formats such as PNG, JPEG, WEBP, GIF et cetera.</li>
                <li>Click on "Deposit" button at the bottom of the page.</li>
            </ul>
            <h4><strong>Step 5: Await Approval</strong></h4>
            <ul>
                <li>The system will notify the Librarian that you have made a deposit to the repository</li>
                <li>The Librarian will then review your submission and then approve it for archiving to the repository.</li>
                <li>You will then receive an email notifying you that your submission has been accepted and archived. If there are issues with the submission, the Librarian will contact you via email to resolve them.</li>
                <li>Congratulations! Your submission is now accessible and visible to the whole world.</li>
            </ul>
            
        </div>
        <div class="col-md-4 bg-light"></div>
    </div>

</div>
