<div class="home-news-content mt-ncs">
  <div class="overlay">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="news-spacer"></div>
        <div>
          <div class="container pt-2" style="max-width: 850px;">
            <h3 class="mb-3 text-center text-white">EXPLORE, DISCOVER & SHARE</h3>
              <ds-search-form [inPlaceSearch]="false"
                [searchPlaceholder]="'home.search-form.placeholder' | translate">
            </ds-search-form>
          </div>
          <p class="lead text-white text-center">
            <em>KarUSpace</em> is a research repository platform for archiving, sharing and 
            distributing scholarly work at Karatina University. The platform is an essential resource for the 
            academic community providing access to published research articles, theses, conference papers, 
            scholar profiles and a wide range of related materials.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>